# SPDX-FileCopyrightText: 2023 Ludwig Hülk <https://github.com/Ludee> © Reiner Lemoine Institut
# SPDX-FileCopyrightText: 2023 Jonas Huber <https://github.com/jh-rli> © Reiner Lemoine Institut
# SPDX-License-Identifier: MIT

mkdocs
mkdocs-material
mkdocstrings
mkdocstrings-python-legacy
mike
pre-commit
pytest
pytest-cov
tox
ruff
