# SPDX-FileCopyrightText: 2023 Ludwig Hülk <https://github.com/Ludee> © Reiner Lemoine Institut
# SPDX-FileCopyrightText: 2023 Jonas Huber <https://github.com/jh-rli> © Reiner Lemoine Institut
# SPDX-FileCopyrightText: super-repo v0.5.0 <https://github.com/rl-institut/super-repo>
# SPDX-License-Identifier: MIT

build
bump-my-version
mike
mkdocs
mkdocs-material
mkdocstrings
mkdocstrings-python-legacy
pre-commit
pytest
pytest-cov
ruff
tox
twine
uv
wheel
