# SPDX-FileCopyrightText: Ludwig Hülk © Reiner Lemoine Institut <https://github.com/Ludee>
# SPDX-FileCopyrightText: Jonas Huber © Reiner Lemoine Institut <https://github.com/jh-RLI>
# SPDX-License-Identifier: MIT

mkdocs
mkdocs-material
mkdocstrings
mkdocstrings-python-legacy
pre-commit
pytest
tox
mike
